{% extends 'base.html' %}

{% block content %}
<div class="home-page">
    <div class="profile-container">
        <img src="{{ url_for ('static', filename='images/bai sendiri.jpg') }}" alt="Foto Profil" class="profile-picture">
        <h2>Baihaqy Syafaraz</h2>
    </div>
    <div class="home-container">
        <p >Dalam web ini, aku Baihaqy sebagai penulis akan menceritakan sedikit pengalaman hidup aku selama 2 semester di bangku perkuliahan. Sebagai orang yang pertama kali mencoba merantau jauh dari orang tua, tentunya tidak mudah untuk beradaptasi di lingkungan yang baru tanpa bantuan orang tua. </p>
        <p >Dimulai dengan keterimanya aku di Prodi Teknik Elektro Universitas Padjadjaran melalui jalur SNBT, di situ aku sangat senang sekali karena dulu tepatnya saat masa SNBP aku sempat memilih prodi ini menjadi pilihan pertama ku, tetapi aku belum dapat diterima. Sehingga saat masa SNBT aku mencoba lagi untuk memilih prodi ini menjadi pilihan pertama, untungnya aku diterima pada prodi ini dengan skor yang cukup memuaskan! Tidak dapat senang terlalu lama, karena aku harus mengurus daftar ulang untuk keperluan registrasi mahasiswa baru.</p>
        <p >Setelah semua berkas registrasi sudah terpenuhi, tidak selang berapa lama munculah pengumuman pengambilan almamater yang dilaksanakan di Unpad Jatinangor. Sehingga aku berniat untuk sekalian pindahan dari rumah ke kosan yang sudah aku dapatkan. Aku mulai membereskan barang-barang yang akan aku bawa untuk ke kosan. Aku mengambil almet ditemani dengan teman SMA aku, dia merupakan mahasiswa Fakultas Pertanian, Prodi Agribisnis.</p>
        <p >Seminggu setelah aku mengambil almamater, PRABU dimulai... yang menandakan mulainya aku menuju bangku perkuliahan. Disinilah perjalananku dimulai..</p>
    </div>
</div>
{% endblock %}